.todo-create-container {
  display: flex;
  align-items: center;
  padding: 5px 2px;
}

.todo-input {
  flex: 10;
  height: 40px;
  font-size: 16px;
  text-indent: 0.5rem;
}

.todo-submit {
  flex: 1;
  height: 40px;
  margin-left: 10px;
  background: #f40;
  color: #fff;
}

.todo-submit:hover {
  background: #f50;
}